{% extends "layouts/app.twig" %}

{% block pageTitle %}Главная страница{% endblock %}


{% block content %}
    <div class="navbar navbar-inverse" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">
                    <img src="images/logo-white.png" alt="in-test">
                </a>
            </div>
            <div class="navbar-collapse collapse">
                <div class="navbar-left">
                    <ul class="language">
                        <li><a href="#">Қаз</a></li>
                        <li><a href="#">Рус</a></li>
                    </ul>
                    <a class="phone" href="tel:8 777 666-55-44">8 777 666-55-44</a>
                </div>
                <div class="navbar-right">
                    <ul class="nav navbar-nav">
                        <li class="active"><a href="#">О сайте</a></li>
                        <li><a href="#">НПА</a></li>
                        <li><a href="#">Контакты</a></li>
                        <li><a href="#">Оплата</a></li>
                        <li><a href="#">Регистрация</a></li>
                        <li><a href="#">Войти</a></li>
                    </ul>
                    <ul class="soc">
                        <li><a class="icon-vk" href="#"></a></li>
                        <li><a class="icon-mail" href="#"></a></li>
                        <li><a class="icon-fb" href="#"></a></li>
                    </ul>
                </div>

            </div>
        </div>
    </div>

    <section class="section">
        <div class="container">
            <div class="section__title">ВЫБЕРИТЕ НАПРАВЛЕНИЕ</div>
            <div class="nav-grid">
                <div class="nav-grid__item">
                    <div class="nav-grid-item">
                        <img class="nav-grid-item__image" src="images/nav-grid-image1.png" alt="">
                        <div class="nav-grid-item__content">Строительство</div>
                    </div>
                </div>
                <div class="nav-grid__item">
                    <div class="nav-grid-item">
                        <img class="nav-grid-item__image" src="images/nav-grid-image2.png" alt="">
                        <div class="nav-grid-item__content">Государственная служба</div>
                    </div>
                </div>
                <div class="nav-grid__item">
                    <div class="nav-grid-item">
                        <img class="nav-grid-item__image" src="images/nav-grid-image3.png" alt="">
                        <div class="nav-grid-item__content">Строительство</div>
                    </div>
                </div>
                <div class="nav-grid__item">
                    <div class="nav-grid-item">
                        <img class="nav-grid-item__image" src="images/nav-grid-image3.png" alt="">
                        <div class="nav-grid-item__content">Строительство</div>
                    </div>
                </div>
                <div class="nav-grid__item">
                    <div class="nav-grid-item">
                        <img class="nav-grid-item__image" src="images/nav-grid-image1.png" alt="">
                        <div class="nav-grid-item__content">Строительство</div>
                    </div>
                </div>
                <div class="nav-grid__item">
                    <div class="nav-grid-item">
                        <img class="nav-grid-item__image" src="images/nav-grid-image2.png" alt="">
                        <div class="nav-grid-item__content">Строительство</div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="section section_gray">
        <div class="container">
            <div class="section__title section__title_dark">КАК ПОСТУПИТЬ НА ГОССЛУЖБУ</div>
            <div class="step-grid">
                <div class="step-grid__item step-grid-item">
                    <div class="step-grid-item__number"></div>
                    <div class="step-grid-item__descr">Зайти на сайт egov.kz (зайти с личного ЭЦП (электронная цифровая подпись))</div>
                </div>
                <div class="step-grid__item step-grid-item">
                    <div class="step-grid-item__number"></div>
                    <div class="step-grid-item__descr">Пройти по ссылке “Гражданам” - “Трудоустройство и занятость” - “Государственная служба”</div>
                </div>
                <div class="step-grid__item step-grid-item">
                    <div class="step-grid-item__number"></div>
                    <div class="step-grid-item__descr">Выбрать вид услуги “Тестирование государственных служащих, претендентов на занятие вакантной административной государственной должности и граждан, впервые поступающих на правоохранительную службу”</div>
                </div>
                <div class="step-grid__item step-grid-item">
                    <div class="step-grid-item__number"></div>
                    <div class="step-grid-item__descr">Заказать услугу
                        ОНЛАЙН</div>
                </div>
                <div class="step-grid__item step-grid-item">
                    <div class="step-grid-item__number"></div>
                    <div class="step-grid-item__descr">Далее слудует заполнить анкету и подписать личным ЭЦП.
                        Совет: “При заполнении анкеты не забудьте заполнить правильно поля: город тестирования, дата и время тестирования”</div>
                </div>
                <div class="step-grid__item step-grid-item">
                    <div class="step-grid-item__number"></div>
                    <div class="step-grid-item__descr">После завершения регистрации необходимо распечатать “РАСПИСКУ” для предъявления в центр тестирования. При себе необходимо иметь оригинал удостоверения личности</div>
                </div>
            </div>
        </div>
    </section>

{% endblock %}